{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}admin.user.titleEdit{% endtrans %}</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('userldap') }}">
            {% trans %}admin.user.backList{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
