{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}admin.user.titleNew{% endtrans %}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('userldap') }}">
                {% trans %}admin.user.backList{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
