{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>{% trans %}admin.role.titleEdit{% endtrans %}</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('roleldap') }}">
            {% trans %}admin.role.backList{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
