{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>{% trans %}admin.role.titleNew{% endtrans %}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('roleldap') }}">
            {% trans %}admin.role.backList{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
